// place your custom styles here
.vp-blog-hero{
    &-image {
      border-radius: 50%; // 设置为圆形
      overflow: hidden;
      width: 150px; // 根据需要调整大小
      height: 150px; // 根据需要调整大小
      object-fit: cover; // 确保图片填充整个区域
      border: 5px solid rgba(255, 255, 255, 0.3); /* 半透明边框 */
      box-sizing: border-box; /* 确保边框不会影响头像大小 */
    }
  }

.vp-navbar {
  background-color: transparent !important; /* 设置导航栏背景为透明 */
  box-shadow: none !important; /* 可选：移除导航栏的阴影 */
}
